
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
  }
  
  center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h2 {
    color: #333;
  }
  
  input {
    justify-content: center;
    padding: 8px;
    width: 30%;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px;
    width: 10%;
    margin: 5px;
    border: 1px solid #007BFF;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display:flex;
    justify-content: center;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Additional styles for responsiveness */
  @media only screen and (max-width: 600px) {
    input, button {
      width: 100%;
      box-sizing: border-box;
    }
  }
  